<footer flex>
  <md-content>
    <mat-toolbar class="container" color="primary">
      <mat-toolbar-row class="item">
        <div class="challenge">
          Akiry Challenge
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="item">
        <div class="copyright">
          <span>
            Copyright© OJFlix 2018
          </span>
          <span>
            All rights reserved"
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </md-content>
</footer>
