.container {
    margin: 200px auto;
	display: flex;
    align-items: center; 
    justify-content: center;
}

.example-card {
    display: flex;
    flex-direction: column;

    height: 200px;
    
    flex: 0;
    align-items: center; 
    justify-content: center;
}

