@import '~@angular/material/theming';

@include mat-core();

$ojf-theme-primary: mat-palette($mat-indigo, 500, 900, A700);
$ojf-theme-accent:  mat-palette($mat-yellow, A700);
$ojf-theme-warn:    mat-palette($mat-yellow, 900);

$ojf-theme: mat-light-theme($ojf-theme-primary, $ojf-theme-accent, $ojf-theme-warn);

@include angular-material-theme($ojf-theme);