<header flex>
  <mat-toolbar class="container" color="primary" role="heading">
    <mat-toolbar-row class="item">
      <div class="logo">
        [PH]OJFlix logo
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="item">
      <div class="item-child lupa">
        [PH]Lupa
      </div>
      <div class="item-child perfil" routerLink="perfil">
        [PH]Perfil
      </div>
      <div class="item-child sair" routerLink="/login">
        [PH]Sair
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

