.container {
    flex-direction: row;
}
.item:first-child {
    justify-content: flex-start;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 5px;
	padding: 0 10px;
	text-align: center;
}
.item-child {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.icon {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
    margin: 5px;
}
.logo {
    display: flex;
    justify-content: center;
    width: 50px;
}
.sair {
    flex: 1;
    align-items: center;
    cursor: pointer;
}